CompileFlags:
  Add: [
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.7/cores/esp32",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.7/cores/esp32/dio_qspi/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.7/variants/doitESP32devkitV1",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.7/libraries/WiFi/src",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.7/libraries/Network/src",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp-x32/2511/xtensa-esp-elf/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp-x32/2511/picolibc/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/esp_wifi/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/esp_event/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/driver/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/esp_common/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/soc/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/esp_hw_support/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/hal/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/freertos/FreeRTOS-Kernel/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/freertos/config/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/freertos/config/xtensa/include",
    "-IC:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp32-libs/3.3.7/include/esp_rom/include",
    "-DESP32",
    "-DARDUINO=30007",
    "-DARDUINO_ARCH_ESP32",
    "-DARDUINO_BOARD=\"DOIT_ESP32_DEVKIT_V1\"",
    "-DARDUINO_VARIANT=\"doitESP32devkitV1\"",
    "-D__attribute__(x)=",
    "-D__inline__=",
    "-D__asm__(x)=",
    "-U__STRICT_ANSI__",
    "-std=c++17",
    "-w"
  ]
  Compiler: "C:/Users/tylor/AppData/Local/Arduino15/packages/esp32/tools/esp-x32/2511/bin/xtensa-esp-elf-g++.exe"
